/* ========================= CSS Variable Colors=================================================================== */
:root {
    --primary_bg: #F0F7FF;
    --primary:#223C5E;
    --secondary:#223C5E;
    --warning:#D9A900;
    --warning_bg:#FFF4CC;
    --indigo:#B8D9FF;
    --indigo_bg:#D1E5FF;
    --pure:white;
    --bordercolor:#D8E9FF;
    --textColor:#385172;
    --bgsuccesslight:#F1FFFA;
    --bgsuccessborder:#02989b;
    --successColor:#007C7F;
    
    
  }

  /* ===============================Fonts =========================== */
 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Roboto:wght@100;300;400;500;700;900&display=swap');
